Node-RED_Flow/smart_agri_flow.json
[{
    "id": "1a2b3c4d5e6f",
    "type": "tab",
    "label": "Smart Agriculture Dashboard",
    "disabled": false,
    "info": ""
},
{
    "id": "soil_mqtt",
    "type": "mqtt in",
    "z": "1a2b3c4d5e6f",
    "name": "Soil Moisture",
    "topic": "smartagri/soil",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "x": 150,
    "y": 80,
    "wires": [["soil_gauge", "soil_chart"]]
},
{
    "id": "temp_mqtt",
    "type": "mqtt in",
    "z": "1a2b3c4d5e6f",
    "name": "Temperature",
    "topic": "smartagri/temp",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "x": 160,
    "y": 140,
    "wires": [["temp_gauge", "temp_chart"]]
},
{
    "id": "hum_mqtt",
    "type": "mqtt in",
    "z": "1a2b3c4d5e6f",
    "name": "Humidity",
    "topic": "smartagri/humidity",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "x": 150,
    "y": 200,
    "wires": [["hum_gauge", "hum_chart"]]
},
{
    "id": "pump_mqtt",
    "type": "mqtt in",
    "z": "1a2b3c4d5e6f",
    "name": "Pump Status",
    "topic": "smartagri/pump",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "x": 160,
    "y": 260,
    "wires": [["pump_text"]]
},
{
    "id": "soil_gauge",
    "type": "ui_gauge",
    "z": "1a2b3c4d5e6f",
    "name": "",
    "group": "dashboard_group",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Soil Moisture (%)",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#ff0000", "#ffff00", "#00ff00"],
    "seg1": "",
    "seg2": "",
    "x": 380,
    "y": 80,
    "wires": []
},
{
    "id": "soil_chart",
    "type": "ui_chart",
    "z": "1a2b3c4d5e6f",
    "name": "",
    "group": "dashboard_group",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Soil Moisture Trend",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#00ff00"],
    "outputs": 1,
    "x": 390,
    "y": 120,
    "wires": [[]]
},
{
    "id": "temp_gauge",
    "type": "ui_gauge",
    "z": "1a2b3c4d5e6f",
    "group": "dashboard_group",
    "order": 3,
    "gtype": "gage",
    "title": "Temperature (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": 50,
    "colors": ["#00bfff", "#ffff00", "#ff0000"],
    "x": 380,
    "y": 160,
    "wires": []
},
{
    "id": "temp_chart",
    "type": "ui_chart",
    "z": "1a2b3c4d5e6f",
    "group": "dashboard_group",
    "order": 4,
    "label": "Temperature Trend",
    "chartType": "line",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "ymin": "0",
    "ymax": "50",
    "colors": ["#ff6600"],
    "outputs": 1,
    "x": 390,
    "y": 200,
    "wires": [[]]
},
{
    "id": "hum_gauge",
    "type": "ui_gauge",
    "z": "1a2b3c4d5e6f",
    "group": "dashboard_group",
    "order": 5,
    "title": "Humidity (%)",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#ff0000", "#ffff00", "#00ff00"],
    "x": 380,
    "y": 240,
    "wires": []
},
{
    "id": "hum_chart",
    "type": "ui_chart",
    "z": "1a2b3c4d5e6f",
    "group": "dashboard_group",
    "order": 6,
    "label": "Humidity Trend",
    "chartType": "line",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "ymin": "0",
    "ymax": "100",
    "colors": ["#3399ff"],
    "outputs": 1,
    "x": 390,
    "y": 280,
    "wires": [[]]
},
{
    "id": "pump_text",
    "type": "ui_text",
    "z": "1a2b3c4d5e6f",
    "group": "dashboard_group",
    "order": 7,
    "label": "Pump Status",
    "format": "{{msg.payload}}",
    "x": 380,
    "y": 320,
    "wires": []
},
{
    "id": "pump_button",
    "type": "ui_button",
    "z": "1a2b3c4d5e6f",
    "group": "dashboard_group",
    "order": 8,
    "name": "Pump Control",
    "label": "Toggle Pump",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "TOGGLE",
    "topic": "",
    "x": 160,
    "y": 360,
    "wires": [["pump_mqtt_out"]]
},
{
    "id": "pump_mqtt_out",
    "type": "mqtt out",
    "z": "1a2b3c4d5e6f",
    "name": "",
    "topic": "smartagri/pump/control",
    "qos": "",
    "retain": "",
    "broker": "mqtt_broker",
    "x": 380,
    "y": 360,
    "wires": []
},
{
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Local MQTT Broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
},
{
    "id": "dashboard_group",
    "type": "ui_group",
    "name": "Smart Agriculture",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": "6"
},
{
    "id": "dashboard_tab",
    "type": "ui_tab",
    "name": "Smart Agri Dashboard",
    "icon": "dashboard",
    "order": 1
}]
